#define MANIFEST 24
#define IDD_DLG 1000
#define IDC_EXPLORER1 1003
#define IDR_XPMANIFEST1 1
#define Icon 100
#define Html 101

#include "windows.h"

IDD_DLG DIALOGEX 10,10,681,350
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "IDC_EXPLORER1",IDC_EXPLORER1,"AtlAxWin",WS_VISIBLE|WS_VSCROLL|WS_HSCROLL,0,0,678,390
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

Icon ICON DISCARDABLE "./icon.ico"
Html RCDATA DISCARDABLE "web.zip"

